@use "variables";
@use "reset";
@use "hero";
@use "event";
@use "components/infosBar";
@use "components/buttons";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 640px) {
    max-width: 80%;
  }
  @media (max-width: 1024px) {
    max-width: 90%;
  }
}
